# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '4351d84f-8a08-457c-b232-730fb99f406d'
  imageRepository: 'volvo-sample-app'
  containerRegistry: 'volvosampleappregistry.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/sampleApp/dockerfile'
  tag: 'v1'  # Using specific tag

  # Agent VM (self-hosted)
  pool:
  name: 'volvo'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: 'volvo'  # Specify the pool name explicitly

    steps:
    - task: Docker@2
      displayName: Build an image for container registry
      inputs:
        containerRegistry: '$(dockerRegistryServiceConnection)'
        repository: '$(imageRepository)'
        command: 'build'
        Dockerfile: '$(dockerfilePath)'  # Correcting Dockerfile path
        tags: '$(tag)'  # Tag format without the container registry

